{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
                <p> 
                <div class="img-responsive">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d809.9537845583311!2d139.65101892924832!3d35.70616648776669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f287a2044b1f%3A0x77916574339cdd38!2z44CSMTY2LTAwMDIg5p2x5Lqs6YO95p2J5Lim5Yy66auY5YaG5a-65YyX77yS5LiB55uu77yT4oiS77yR77yVIOOCquODleOCo-OCue-8kQ!5e0!3m2!1sja!2sjp!4v1601536598096!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>{{ with .Site.Params.contact.phone }}{{ . }}{{ end }}</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:{{ with .Site.Params.contact.email }}{{ . }}{{ end }}">{{ with .Site.Params.contact.email }}{{ . }}{{ end }}</a></p>
            </div>
        </div>
    </div>
</section>
